<div class="container bg-white">
  <h3 class="home_title">ブログ一覧</h3>

  <div>
    <%= link_to "新規作成", new_blog_path, class: "btn btn-info float-right" %>
  </div>

  <div style="margin-top:100px;">
    <% @blogs.each do |blog| %>
      <div class="card my-3">
        <div class="card-header alert-info">
          <%= link_to blog_path(blog.id) do%>
            <%= blog.title %>
          <% end %>
          <div class="float-right">
            投稿日 : <%= blog.created_at.strftime("%Y年%m月%d日")%>
          </div>
        </div>
        <div class="card-body">
          <div class="text-right text-primary">
            <% if blog.user %>
              <%= blog.user.name %>(消費者)
            <% elsif blog.producer%>
              <%= blog.producer.producer_name %>(農家)
            <% end %>
          </div>
          <% if blog.user == current_user %>
            <div class="text-right">
              <%= link_to "編集", edit_blog_path(blog) %>
              <%= link_to "削除", blog, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% elsif blog.producer == current_producer %>
            <div class="text-right">
              <%= link_to "編集", edit_blog_path(blog) %>
              <%= link_to "削除", blog, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
