<br>
<div class="mx-auto p-4 border border-primary rounded" style="border:solid 1px #343a40; max-width:700px;">

  <h2><%= t('.sign_in') %></h2>
  <br>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" , class: "form-control" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group form-check">
        <%= f.check_box :remember_me, class:"form-check-input" %>
        <%= f.label :remember_me, class:"form-check-label" %>
      </div>
    <% end %>

    <div class="actions mt-4">
      <%= f.submit t('.sign_in') , class: "form-control btn btn-info" , id: "login"%>
    </div>
  <% end %>
</div>

<div class="mt-4 mx-auto p-4 border border-primary rounded" style="border:solid 1px #343a40; max-width:700px;">
  <%= render "users/shared/links" %>
</div>
