<br>
<div class="mx-auto p-4 border border-primary rounded" style="border:solid 1px #343a40; max-width:700px;">
  <h2>プロフィール画面</h2><br/>

  <%= image_tag @user.avatar.variant(combine_options:{gravity: :center,
                                                      border:'2',
                                                      resize:"160x160^",
                                                      crop:"220x220+0+0"}).processed,
                                                      class: "img border-primary"%><br/>
  <br>
  <h5>ユーザー名</h5>
  <p class="form-control alert alert-warning rounded"><%= @user.name %></p>
  <h5>メールアドレス</h5>
  <p class="form-control alert alert-warning rounded"><%= @user.email %></p><br/><br/>

  <%= link_to "編集", edit_user_registration_path , class: "btn btn-info"%>
  <%= link_to "お気に入りリスト", favorites_path , class: "btn btn-info"%>
</div>
