<br/>
<div class="mx-auto p-4 border border-primary rounded" style="border:solid 1px #343a40; max-width:700px;">

  <h2><%= t('.sign_up') %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form-group">
      <%= f.label :producer_name %><br />
      <%= f.text_field :producer_name, autofocus: true, autocomplete: "producer_name" , class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :producer_avatar, class: "btn btn-info" do %>
        <i class="far fa-image"> プロフィール画像ファイルを選択</i>
      <% end %>
      <%= f.file_field :producer_avatar, class: "image_form", style: "display: none;"%>
    </div>

    <div class="form-row">
      <div class="form-group">
        <%= f.label :producer_postal_code %><br />
        <%= f.text_field :producer_postal_code, autofocus: true, placeholder: '例)1000014', class: "postal_code form-control", id: "address_zipcode" %>
      </div>

      <div class="form-group col">
        <%= f.label :producer_prefecture_code %><br />
        <%= f.collection_select :producer_prefecture_code, JpPrefecture::Prefecture.all, :name, :name, class: "address form-control" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :producer_address_city %><br />
      <%= f.text_field :producer_address_city, autofocus: true, autocomplete: "producer_address_city", placeholder: '例)千代田区千代田町', id: "address_city" , class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :producer_address_street %><br />
      <%= f.text_field :producer_address_street, autofocus: true, autocomplete: "address_street", placeholder: '例)1-2-3', id: "address_street" , class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :producer_address_building %><br />
      <%= f.text_field :producer_address_building, autofocus: true, autocomplete: "producer_address_building", placeholder: '例)千代田ビル101号', id: "address_building" , class: "form-control" %>
    </div>


    <div class="form-group">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" , class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password"  ,class: "form-control" %>
    </div>

    <div class="actions mt-4">
      <%= f.submit t('.sign_up') , class: "form-control btn btn-info"%>
    </div>
  <% end %>
</div>

<div class="mt-4 mx-auto p-4 border border-primary rounded" style="border:solid 1px #343a40; max-width:700px;">
  <%= render "producers/shared/links" %>
</div>
