<%= form_with(model: @product, local: true)do |form| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= @product.errors.count %>件のエラーがあります。</h2>
      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :商品タイトル %><br />
    <%= form.text_field :title, autoformocus: true , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :価格 %><br />
    <%= form.text_field :price, autoformocus: true , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :在庫数 %><br />
    <%= form.text_field :quantity, autoformocus: true , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :商品イメージ写真%><br/>
    <%= form.label :image, class: "btn btn-info" do %>
      <i class="far fa-image"> メイン画像ファイルを選択</i>
    <% end %>
    <%= form.file_field :image, class: "image_form", style: "display: none;"%>
  </div>


  <div class="form-group">
    <%= form.label :紹介アピール %><br />
    <%= form.text_field :content, autoformocus: true ,class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :収穫日 %><br />
    <%= form.date_field :harvest_date %>
  </div>

  <div class="form-group">
    <%= form.label :農場名 %><br />
    <%= form.text_field :farm_name, autoformocus: true , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :住所 %><br />
    <%= form.text_field :farm_street_address, autoformocus: true , class: "form-control" %>
  </div>

  <div class="task_label">
    <%= form.label :label, "生産品にラベルをつけてみよう↓↓" %>
    <br>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>

  <div class="actions mt-4">
    <%= form.submit name="出品する"  , class: "form-control btn btn-info"%>
  </div>
<% end %>
