<%= form_with(model: @product, local: true)do |form| %>
  <% if @product.errors.any? %>
    <div class="mx-auto p-2 border border-warning rounded" style="border:solid 1px; max-width:500px; margin-bottom:40px;">
      <div id="error_explanation" class="text-danger">
        <h3 class="alert alert-warning rounded"><%= @product.errors.count %>件のエラーがあります。</h3>
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li class="list-unstyled"><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title ,class: "text-primary"%><br />
    <%= form.text_field :title, autoformocus: true , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :price ,class: "text-primary"%><br />
    <%= form.text_field :price, autoformocus: true , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :quantity ,class: "text-primary"%><br />
    <%= form.text_field :quantity, autoformocus: true , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :image ,class: "text-primary"%><br/>
    <%= form.label :image, class: "btn btn-info" do %>
      <i class="far fa-image"> メイン画像ファイルを選択</i>
    <% end %>
    <%= form.file_field :image, class: "image_form", style: "display: none;"%>
    <%= form.label :sub_images, class: "btn btn-warning" do %>
      <i class="far fa-image"> サブ画像ファイルを選択(3枚まで)</i>
    <% end %>
    <%= form.file_field :sub_images, class: "image_form", multiple: true, style: "display: none;"%>
  </div>


  <div class="form-group">
    <%= form.label :content ,class: "text-primary"%><br />
    <%= form.text_area :content, size: "2x10", autoformocus: true , class: "form-control" ,placeholder: "※300文字まで"%>
  </div>

  <div class="form-group">
    <%= form.label :harvest_date ,class: "text-primary"%><br />
    <%= form.date_field :harvest_date %>
  </div>

  <div class="form-group">
    <%= form.label :farm_name ,class: "text-primary" %><br />
    <%= form.text_field :farm_name, autoformocus: true , class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :farm_street_address %><br />
    <%= form.text_field :farm_street_address, autoformocus: true , class: "form-control" %>
  </div>

  <div class="task_label">
    <%= form.label :label, "生産品にラベルをつけてみよう↓↓" ,class: "text-primary"%><br/>
    <%= form.collection_check_boxes(:label_ids, Label.all, :id, :name) %>
  </div>

  <div class="actions mt-4">
    <%= form.submit name="出品する"  , class: "form-control btn btn-info"%>
  </div>
<% end %>
