<% if current_user.try(:admin?) %>
  <h2>商品一覧(管理者用)</h2>
<% else %>
  <h2>商品一覧</h2>
<% end %>
<p><%= notice %></p><br />

<div class="form-group">
  <%= form_with(url:products_path, local: true, method: :get) do |form| %>
    <%= form.label :title_search, "タイトル検索" %>
    <%= form.text_field :title %>
    <%= form.label :label_id_search, "ラベル絞込" %>
    <%= form.select("label_id", Label.all.pluck(:name, :id), { include_blank:"選択する",include_hidden: false }) %>
    <%= form.hidden_field :search, value:"true" %>
    <%= form.submit name="検索する" %>
  <% end %>
</div>

<div class="container">
  <div class="row">
  <% @products.each do |product|%>
      <tr>
        <div class="card mb-3 col-md-6" style="max-width: 500px;">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <td><%= image_tag product.image %></td>
            </div>
            <div class="col-lg-6">
              <div class="card-body">
                <td><%= product.title %></td>
                <td><%= product.price %></td>
                <td><%= product.quantity %></td>
                <td><%= product.content %></td>
                <!-- <td><%= product.harvest_date.strftime("%Y年%m月%d日")%></td>
                <td><%= product.farm_name %></td>
                <td><%= product.farm_street_address %></td> -->
                <td class="product_label">
                  <% product.labels.each do |label| %>
                    <label class='btn-sticky'><%= label.name %></label>
                  <% end %>
                </td>
                <td><%= link_to '詳細', product_path(product.id) %></td>
                <td><%= link_to "編集", edit_product_path(product.id) %></td>
                <td><%= link_to '削除', product_path(product.id), method: :delete , data: { confirm: '本当に削除していいですか？' } %></td>
              </div>
            </div>
          </div>
        </div>
      </tr>
  <% end %>
  </div>
</div>
