<div class="slider">
    <div class="item"><img class="c border border-primary rounded" src="assets/nouka5.jpeg"></div>
    <div class="item"><img class="c border border-primary rounded" src="assets/nouka6.jpeg"></div>
    <div class="item"><img class="c border border-primary rounded" src="assets/nouka7.jpeg"></div>
    <div class="item"><img class="c border border-primary rounded" src="assets/nouka8.jpeg"></div>
</div>

<div class="container">

  <% if current_user.try(:admin?) %>
    <h2>商品一覧(管理者用)</h2>
  <% else %>
    <h2>商品一覧</h2>
  <% end %>
  <p><%= notice %></p>

  <div class="form-group">
    <%= form_with(url:products_path, local: true, method: :get) do |form| %>
      <%= form.label :title_search, "タイトル検索" %>
      <%= form.text_field :title %>
      <%= form.label :label_id_search, "ラベル絞込" %>
      <%= form.select("label_id", Label.all.pluck(:name, :id), { include_blank:"選択する",include_hidden: false }) %>
      <%= form.hidden_field :search, value:"true" %>
      <%= form.submit name="検索する" %>
    <% end %>
  </div>

  <div class="row">
    <% @products.each do |product|%>
      <tr>
        <div class="card ml-2 mb-2 mr-2 rounded border-primary" style="width: 14rem;">
          <td><%= image_tag product.image.variant(combine_options:{gravity: :center,border:'2', resize:"180x180^",crop:"220x220+0+0"}).processed ,class: "rounded"%></td>
          <div class="card-body">
            <h6 class="card-title alert alert-primary"><%= product.title %></h6>
            <td>価格：<%= product.price %></td><br/>
            <td>在庫数：<%= product.quantity %></td><br/>
            <td><%= product.content %></td><br/>
            <td><%= link_to '詳細', product_path(product.id) , class: "btn btn-primary mb-1" %></td>
            <% if current_producer.try(:admin?) || producer_signed_in? %>
              <td><%= link_to "編集", edit_product_path(product.id) %></td>
            <% elsif current_producer.try(:admin?) %>
              <td><%= link_to '削除', product_path(product.id), method: :delete , data: { confirm: '本当に削除していいですか？' } %></td>
            <% end %>
            <br/>
            <td class="product_label">
              <% product.labels.each do |label| %>
                <label class='btn-sticky'><%= label.name %></label>
              <% end %>
            </td>
          </div>
        </div>
      </tr>
    <% end %>
  </div>
</div>
