<div style="height:40px;">
  <%= render "layouts/flash" %>
</div>
<div class="slider">
  <% @products.shuffle.first(6).each do |product|%>
    <% if product.image.attached? %>
      <div class="item"><%= image_tag product.image.variant(combine_options:{gravity: :center,border:'2', resize:"180x180^",crop:"220x220+0+0"}).processed ,class: "rounded"%></div>
    <% end %>
  <% end %>
</div>

<div class="container">

  <% if current_user.try(:admin?) %>
    <h2>商品一覧(管理者用)</h2>
  <% else %>
    <h2>商品一覧</h2>
  <% end %>

  <div class="form-group">
    <%= form_with(url:products_path, local: true, method: :get) do |form| %>
      <%= form.label :title_search, "タイトル検索" %>
      <%= form.text_field :title %>
      <%= form.label :label_id_search, "ラベル絞込" %>
      <%= form.select("label_id", Label.all.pluck(:name, :id), { include_blank:"選択する",include_hidden: false }) %>
      <%= form.hidden_field :search, value:"true" %>
      <%= form.submit name="検索する" %>
    <% end %>
  </div>

  <div class="row">
    <% @products.each do |product|%>
      <tr>
        <div class="card ml-2 mb-2 mr-2 rounded border-primary" style="width: 14rem;">
          <% if product.image.attached? %>
            <td><%= image_tag product.image.variant(combine_options:{gravity: :center,border:'2', resize:"180x180^",crop:"220x220+0+0"}).processed ,class: "rounded"%></td>
          <% end %>
          <div class="card-body">
            <div class="example">
              <div class="box">
                <%= link_to producer_path(product.producer.id) do%>
                  <%= product.producer.producer_name%>
                <% end %>
              </div>
              <% if product.producer.producer_avatar.attached? %>
                <% if product.quantity == 0%>
                <p>soldout</p>
                    <%= image_tag product.producer.producer_avatar.variant(combine_options:{gravity: :center,
                                                                    border:'2',
                                                                    resize:"50x95^",
                                                                    crop:"100x100+0+0"}).processed,
                                                                    class: "img border-primary"%>
                <% else %>
                <%= image_tag product.producer.producer_avatar.variant(combine_options:{gravity: :center,
                                                                border:'2',
                                                                resize:"50x95^",
                                                                crop:"100x100+0+0"}).processed,
                                                                class: "img border-primary"%>

                <% end %>
              <% end %>
            </div>
            <td>
              <%= link_to product_path(product.id) do%>
                <%= product.title.truncate(20) %>
              <% end %>
            </td><br/>
            <td><h5 class="text-primary">¥ <%= product.price %></h5></td>
            <td><%= product.content.truncate(23) %></td><br/>
            <% if current_user.try(:admin?) || producer_signed_in? %>
              <td><%= link_to "編集", edit_product_path(product.id) , class: "btn btn-primary mb-1" %></td>
            <% end %>
            <% if current_user.try(:admin?) %>
              <td><%= link_to '削除', product_path(product.id), method: :delete , data: { confirm: '本当に削除していいですか？' } , class: "btn btn-primary mb-1" %></td><br/>
            <% end %>
            <td class="product_label">
              <% product.labels.each do |label| %>
                <label class='btn-sticky'><%= label.name %></label>
              <% end %>
            </td>
          </div>
        </div>
      </tr>
    <% end %>
  </div>
  <div class="my-4 mx-auto" style="width: 200px;">
    <%= paginate @products %>
  </div>
</div>
