<div class="container">
  <h1>商品詳細画面</h1>
  <p id="notice"><%= notice %></p>
  <div class="product-text">
  <p>
      <%= image_tag @product.image %>
  </p>
  <p>タイトル: <%= @product.title %></p>
  <p>価格:<%= @product.price %></p>
  <p>在庫数:<%= @product.quantity %></p>
  <p>詳細:<%= @product.content %></p>
  <p>収穫日<%= @product.harvest_date.strftime("%Y年%m月%d日")%></p>
  <p>農園名<%= @product.farm_name %></p>
  <p>運営者先住所<%= @product.farm_street_address %>
  <p class="btn-sticky">
    <% @product.labels.each do |label| %>
      <%= label.name %>
    <% end %>
  </p>
  </div>
  <br>
  <p>コメント一覧</p>
  <div id="comments_area">
    <%= render partial: 'comments/index', locals: { comments: @comments, product: @product } %>
  </div>
  <%= render partial: 'comments/form', locals: { comment: @comment, product: @product } %>
  <%= link_to '一覧画面に戻る', products_path %>
