<div class="container">
  <div class="mx-auto p-4  border border-primary rounded" style="border:solid 1px; max-width:700px;">
    <h2>商品詳細画面</h2>
    <p id="notice"><%= notice %></p>
    <div class="product-text rounded" style="ax-width:700px;">
      <p>
        <%= image_tag @product.image.variant(combine_options:{gravity: :center,border:'2', resize:"180x180^",crop:"220x220+0+0"}).processed ,class: "rounded"%>
      </p>
      <p class="form-control border border-primary rounded"><%= @product.title %></p>
      <p>
        <% @product.labels.each do |label| %>
          <label class='btn-sticky'><%= label.name %></label>
        <% end %>
      </p>
      <p class="alert alert-warning rounded">価格:<%= @product.price %></p>
      <p class="alert alert-warning rounded">在庫数:<%= @product.quantity %></p>
      <p class="alert alert-warning rounded">詳細:<%= @product.content %></p>
      <p class="alert alert-warning rounded">収穫日<%= @product.harvest_date.strftime("%Y年%m月%d日")%></p>
      <p class="alert alert-warning rounded">農園名<%= @product.farm_name %></p>
      <p class="alert alert-warning rounded">運営者先住所<%= @product.farm_street_address %></p>
    </div>
    <br>
    <% if user_signed_in? || producer_signed_in? %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入りリストへ', favorites_path(product_id: @product.id), method: :post, class: 'btn btn-primary' %>
      <% end %><br/>
    <br>
      <%= form_with local: true, url: pay_product_path do |form| %>
        <script type="text/javascript"
          src="https://checkout.pay.jp"
          class="payjp-button"
          data-key="<%= ENV["PAYJP_KEY"] %>">
        </script>
      <% end %>
    <% else %>
      <p>※商品ご購入を希望の場合は新規登録、ログインをしてください🙇‍♂️</p>
      <%= link_to "ユーザー新規登録", new_user_registration_path, class: 'nav-link'%>
    <% end %>
  </div>
  <br>
  <div class="card mx-auto border border-primary rounded" style="max-width:700px;">
    <div class="card-body p-4">
      <div class="text-center my-3">
        <strong>コメント一覧</strong>
      </div>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, product: @product } %>
      </div>
      <%= render partial: 'comments/form', locals: { comment: @comment, product: @product } , class: "text-info float-right"%>
      <%= link_to '一覧画面に戻る', products_path , class: "text-info float-right"%>
    </div>
  </div>
</div>
