<div class="container">
  <div class="mx-auto p-4  border border-primary rounded" style="border:solid 1px; max-width:700px;">
    <h2>商品詳細画面</h2>
    <div class="alert alert-light" role="alert">
      <p id="notice"><%= notice %></p>
    </div>
    <div class="product-text rounded" style="ax-width:700px;">
      <% if @product.image.attached? %>
        <p>
          <%= image_tag @product.image.variant(combine_options:{gravity: :center,border:'2', resize:"180x180^",crop:"220x220+0+0"}).processed ,class: "rounded"%>
        </p>
      <% end %>
      <p class="form-control border border-primary rounded"><%= @product.title %></p>
      <p>
        <% @product.labels.each do |label| %>
          <label class='btn-sticky'><%= label.name %></label>
        <% end %>
      </p>
      <p class="alert alert-warning rounded">価格: <%= @product.price %></p>
      <p class="alert alert-warning rounded">在庫数: <%= @product.quantity %></p>
      <p class="alert alert-warning rounded">詳細: <%= @product.content %></p>
      <p class="alert alert-warning rounded">収穫日: <%= @product.harvest_date.strftime("%Y年%m月%d日")%></p>
      <p class="alert alert-warning rounded">農園名: <%= @product.farm_name %></p>
      <p class="alert alert-warning rounded">運営者先住所: <%= @product.farm_street_address %></p>
    </div>
    <br>
    <% if user_signed_in? %>
      <% if @favorite.present? %>
        <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to 'お気に入りリストへ', favorites_path(product_id: @product.id), method: :post, class: 'btn btn-primary' %>
      <% end %><br/>
    <br>
    <%= link_to '購入する', product_purchases_path(product_id: @product.id), class: "btn btn-info mb-1" %>
    <% elsif producer_signed_in?%>
      <strong><お願い></strong>
      <p>他出品者の商品ご購入を希望する場合は、<br>
        お手数ですが生産者ではなく、ユーザー新規登録、ログインからご購入してください🙇‍♂️</p>
    <% else %>
      <p>※商品ご購入を希望の場合はユーザー新規登録、ログインをしてください🙇‍♂️</p>
      <%= link_to "ユーザー新規登録", new_user_registration_path, class: 'nav-link'%>
    <% end %>
  </div>
  <br>
  <div class="card mx-auto border border-primary rounded" style="max-width:700px;">
    <div class="card-body p-4">
      <div class="text-center my-3">
        <strong>コメント一覧</strong>
        <p id="notice"><%= notice %></p>
      </div>
      <div id="comments_area">
        <%= render partial: 'comments/index', locals: { comments: @comments, product: @product } %>
      </div>
      <%= render partial: 'comments/form', locals: { comment: @comment, product: @product } , class: "text-info float-right"%>
      <%= link_to '一覧画面に戻る', products_path , class: "text-info float-right"%>
    </div>
  </div>
</div>
