<!DOCTYPE html>
<html>
  <head>
    <title>FarmProductsMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>

    <header>
          <% if user_signed_in? %>
            <li class="nav-item active">
              ~<%= current_user.name %>がログインしてます~
            </li>
            <li class="nav-item active">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
            <li class="nav-item active">
              <%= link_to "生産者とのメッセージはこちら", message_tops_path%>
            </li>
          <% elsif producer_signed_in? %>
            <li class="nav-item active">
              ~<%= current_producer.producer_name %>がログインしてます~
            </li>
            <li class="nav-item active">
              <%= link_to "ログアウト", destroy_producer_session_path ,:method => :delete  %>
            </li>
            <li class="nav-item active">
              <%= link_to "ユーザーとのメッセージはこちら", message_tops_path%>
            </li>
          <% else %>
            <li class="nav-item active">
              <%= link_to "ユーザー新規登録", new_user_registration_path  %>
            </li>
            <li class="nav-item active">
              <%= link_to "ログイン", new_user_session_path %>
            </li>
          <% end %>
          <li class="nav-item active">
            <%= link_to "生産者新規登録ぜひぜひ", new_producer_registration_path %>
          </li>
      </header>

    <%= yield %>
  </body>
</html>
