<!DOCTYPE html>
<html>
  <head>
    <title>FarmProductsMarket</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.pay.jp/" type="text/javascript"></script>
  </head>

  <body>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <div style="margin-bottom:100px;">
      <header>
        <nav class="navbar navbar-expand-sm  navbar-primary bg-success">
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <%= link_to  products_path, method: :get do %>
                <i class="fas fa-seedling fa-3x"></i>
              <% end %>
                <% if user_signed_in? %>
                  <li class="nav-item active nav-link">
                    <%= current_user.name %>さん
                  </li>
                  <li class="nav-item active">
                    <%= link_to "カード登録 or 情報", new_card_path, class: 'nav-link'%>
                  </li>
                  <li class="nav-item dropdown text-primary">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <div class="dropdown-item"><%= link_to "生産者とのメッセージ", message_tops_path%></div>
                      <div class="dropdown-item"><%= link_to "ログアウト", destroy_user_session_path, method: :delete%></div>
                      <div class="dropdown-item"><%= link_to "プロフィール", user_path(current_user.id)%></div>
                    </div>
                  </li>
                <% elsif producer_signed_in? %>
                  <li class="nav-item active nav-link">
                    <%= current_producer.producer_name %>さん
                  </li>
                  <li class="nav-item active">
                    <%= link_to "商品を出品", new_product_path, class: 'nav-link'%>
                  </li>
                  <li class="nav-item active">
                    <%= link_to "ユーザーとのメッセージ", message_tops_path, class: 'nav-link'%>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Menu
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <div class="dropdown-item"><%= link_to "ログアウト", destroy_producer_session_path, method: :delete%></div>
                      <div class="dropdown-item"><%= link_to "プロフィール", producer_path(current_producer.id)%></div>
                      <div class="dropdown-item"><%= link_to "プロフィール編集", edit_producer_registration_path%></div>
                    </div>
                  </li>
                <% else %>
                  <li class="nav-item active">
                    <%= link_to "ユーザー新規登録", new_user_registration_path, class: 'nav-link'%>
                  </li>
                  <li class="nav-item active">
                    <%= link_to "ログイン", new_user_session_path, class: 'nav-link'%>
                  </li>
                  <li class="nav-item dropdown text-primary">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      生産者登録・ログイン
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <div class="dropdown-item"><%= link_to "生産者新規登録ぜひぜひ", new_producer_registration_path%></div>
                      <div class="dropdown-item"><%= link_to "ログイン", new_producer_session_path%></div>
                    </div>
                  </li>
                <% end %>
            </ul>
          </div>
        </nav>
      </header>
      <div style="height:40px;">
        <%= render "layouts/flash" %>
      </div>
      <%= yield %>
      <footer class="fixed-bottom bg-success d-block">
        <div class="container my-2">
          <div class="row">
            <div class="col">
              <%= link_to  root_path, class: "text-center  d-block py-2 w-100", title: "ホーム" do %>
                <i class="fas fa-seedling fa-2x"></i>
              <% end %>
            </div>
            <% if user_signed_in? %>
              <div class="col">
                <%= link_to new_card_path, class: "text-center d-block py-2 w-100", title: "クレジット登録/削除" do %>
                  <i class="fas fa-credit-card fa-2x"></i>
                <% end %>
              </div>
              <div class="col">
                <%= link_to message_tops_path, class: "text-center d-block py-2 w-100", title: "生産者とのメッセージ" do %>
                  <i class="fas fa-envelope fa-2x"></i>
                <% end %>
              </div>
              <div class="col">
                <%= link_to destroy_user_session_path, class: "text-center d-block py-2 w-100", title: "ログアウト" do %>
                  <i class="fas fa-sign-out-alt fa-2x"></i>
                <% end %>
              </div>
            <% elsif producer_signed_in? %>
              <div class="col">
                <%= link_to new_product_path, class: "text-center d-block py-2 w-100", title: "出品" do %>
                  <i class="fas fa-shipping-fast fa-2x"></i>
                <% end %>
              </div>
              <div class="col">
                <%= link_to message_tops_path, class: "text-center d-block py-2 w-100", title: "ユーザーとのメッセージ" do %>
                  <i class="fas fa-envelope fa-2x"></i>
                <% end %>
              </div>
              <div class="col">
                <%= link_to destroy_producer_session_path, class: "text-center d-block py-2 w-100", title: "ログアウト" do %>
                  <i class="fas fa-sign-out-alt fa-2x"></i>
                <% end %>
              </div>
            <% else %>
              <div class="col">
                <%= link_to new_user_registration_path, class: "text-center d-block py-2 w-100", title: "ユーザー登録" do %>
                  <i class="fas fa-sign-in-alt fa-2x"></i>
                <% end %>
              </div>
              <div class="col">
                <%= link_to new_user_session_path, class: "text-center d-block py-2 w-100", title: "ユーザーログイン" do %>
                  <i class="fas fa-user fa-2x"></i>
                <% end %>
              </div>
              <div class="col">
                <%= link_to new_producer_registration_path, class: "text-center d-block py-2 w-100", title: "生産者登録" do %>
                  <i class="fas fa-hat-cowboy fa-2x"></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
