<br/>
<div class="mx-auto p-4 border border-primary rounded" style="border:solid 1px #343a40; max-width:700px; margin-top:30px;">
  <% if user_signed_in? %>
    <h5 class="text-center home_title" style="margin-bottom:30px;">生産者一覧</h5>
    <br>
    <% @producers.each do |producer| %>
      <% if producer.producer_avatar.attached? %>
        <%= image_tag producer.producer_avatar.variant(combine_options:{gravity: :center,
                                                            border:'2',
                                                            resize:"160x160^",
                                                            crop:"220x220+0+0"}).processed,
                                                            class: "img border-primary image_size"%>
      <% end %>
      <%= producer.producer_name %>さん
      <% if @producer_ids.include?(producer.id) %>
        <%= link_to "チャットへ", room_path(current_user.rooms.find_by(producer_id: producer.id)) , class: " btn btn-primary"%><br><br/>
      <% else %>
        <%= form_for Room.new do |f| %>
          <%= f.hidden_field :producer_id, :value => producer.id %>
          <%= f.submit  class: "btn btn-primary", id: "createroom"%>
        <% end %>
      <% end %>
    <% end %>
  <% elsif producer_signed_in? %>
      <h5 class="text-center home_title text-primary" style="margin-bottom:30px;">ユーザー一覧</h5>
    <br>
    <% @users.each do |user| %>
      <% if user.avatar.attached? %>
        <%= image_tag user.avatar.variant(combine_options:{gravity: :center,
                                                            border:'2',
                                                            resize:"160x160^",
                                                            crop:"220x220+0+0"}).processed,
                                                            class: "img border-primary image_size"%>
      <% end %>
      <p class="alert alert-warning rounded"><%= user.name %>さん</p>
      <% if @user_ids.include?(user.id) %>
        <%= link_to "チャットへ", room_path(current_producer.rooms.find_by(user_id: user.id)) , class: "btn btn-primary position-relative", style: "bottom:60px; left:530px;"%><br/>
      <% else %>
        <%= form_for Room.new do |f| %>
          <%= f.hidden_field :user_id, :value => user.id %>
          <%= f.submit class: "btn btn-primary position-relative" ,id: "createroom" ,style: "bottom:60px; left:545px;"%>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>
